#ignore everything
*
#but not these files
!.gitignore
!README.md
!D_7SEG/*.vhd
!D_7SEG/*.qpf
!D_7SEG/*.txt
!D_7SEG/*.sdc
!Contador/*.vhd
!ENG PI-1/*.vhd
!selecao_cor/*.vhd
!selecao_cor/*.qpf
!Antitrepidação/*.vhd
!01_seletor/*.vhd
!01_projeto/*.vhd
!*.pdf
!DE2_115_pin_assignments.csv
!teste trigger/*.vhd
!teste trigger/*.qpf

!teste_cor/*.vhd
!teste_cor/*.qpf