#ignore everything
*
#but not these files
!.gitignore
!README.md

!D_7SEG/
!D_7SEG/*.vhd
!D_7SEG/*.qpf
!D_7SEG/*.txt
!D_7SEG/*.sdc

!relatório_PI_2/
!relatório_PI_2/*.jpg
!relatório_PI_2/*.tex
!relatório_PI_2/*.bib

!*.pdf
!DE2_115_pin_assignments.csv
!*.asc

!PCB_drive/*PrjPCB
!PCB_drive/*SchDoc
